<!DOCTYPE html>
<html>
  <head>
    <title>Mylib</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%# <i class="fas fa-book-reader"></i>  %>
      <%# <%= fa_icon ("book-reader") %>
      <h1>MyLib</h1>
    </div>
    <%= yield %>
    <%= fa_icon('camera-retro') %>
  </body>
</html>

